@model min_web_project_v2.Models.LogicModel

@{
    ViewData["Title"] = "Coordinador";
    Layout = "/Views/Shared/_LayoutCoordinator.cshtml";
}

<body>
    <div class="flex flex-col justify-center mx-16 my-16">
        <form asp-action='CreateSchedule'>
            <div class="mb-12 flex flex-row gap-4 flex-wrap">
                <div class="flex flex-col">
                    <spa>Periodo</spa>
                    <select asp-for='Periodo' class="px-2 rounded-md border-2 border-gray w-80 h-10">
                        @foreach (PeriodModel item in Model.PeriodModels)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="flex flex-col">
                    <spa>Docente</spa>
                    <select asp-for='Docente' class="px-2 rounded-md border-2 border-gray w-80 h-10">
                        @foreach (UserModel item in Model.UserModels)
                        {
                            <option value="@item.Name">@item.Name</option>
                        }
                    </select>
                </div>
                <div class="flex flex-col">
                    <spa>Ambiente</spa>
                    <select asp-for='Ambiente' class="px-2 rounded-md border-2 border-gray w-80 h-10">
                        @foreach (EnvironmentModel item in Model.EnvironmentModels)
                        {
                            <option value="@item.name">@item.name</option>
                        }
                    </select>
                </div>
                <div class="flex flex-col">
                    <spa>Programa - Competencia</spa>
                    <select asp-for='ProgramaAmbiente' class="px-2 rounded-md border-2 border-gray w-80 h-10">
                        @foreach (AsociateModel item in Model.AsociateModel)
                        {
                            <option value="@item.program.Name - @item.competencies.Name">@item.program.Name -
                                @item.competencies.Name</option>
                        }
                    </select>
                </div>
                <div class="flex flex-col">
                    <spa>Dia</spa>
                    <select asp-for='Dia' class="px-2 rounded-md border-2 border-gray w-80 h-10">
                        <option value="lunes">lunes</option>
                        <option value="martes">martes</option>
                        <option value="miercoles">miercoles</option>
                        <option value="jueves">jueves</option>
                        <option value="viernes">viernes</option>
                        <option value="sabado">sabado</option>
                    </select>
                </div>
                <div class="flex flex-col">
                    <spa>Horario</spa>
                    <select asp-for='Horario' class="px-2 rounded-md border-2 border-gray w-80 h-10">
                        <option value="7 am - 9 am">7 am - 9 am</option>
                        <option value="9 am - 11 am">9 am - 11 am</option>
                        <option value="11 am - 1 pm">11 am - 1 pm</option>
                        <option value="2 pm - 4 pm">2 pm - 4 pm</option>
                        <option value="4 pm - 6 pm">4 pm - 6 pm</option>
                        <option value="6 pm - 8 pm">6 pm - 8 pm</option>
                        <option value="8 pm - 10 pm">8 pm - 10 pm</option>
                    </select>
                </div>
            </div>
            <div class="mt-12 mb-12">
                <input title="Guardar" type="submit" value="Guardar"
                    class="rounded-md bg-black font-semibold p-2 text-center cursor-pointer text-white hover:bg-black/80" />
            </div>
        </form>
        <table>
            <thead>
                <tr>
                    <th class="border border-gray-500"></th>
                    @foreach (var item in Model.days)
                    {
                        <th class="border border-gray-500 px-4 py-2">@item</th>
                    }
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="border border-gray-500">
                        7 am - 9 am
                    </td>
                    @foreach (var item in Model.days)
                    {
                        <td class="border border-gray-500">
                            @foreach (var item2 in Model.ScheduleModel)
                            {
                                @if (item2.Dia.Equals(item) && item2.Horario.Equals("7 am - 9 am"))
                                {
                                    <div class="@item2.Color px-4 py-2 mb-1">
                                        <div>Nombre: @item2.Docente</div>
                                        <div class="font-bold">Periodo: @item2.Periodo</div>
                                        <div>Ambiente: @item2.Ambiente</div>
                                        <div>Programa - Competencia: @item2.ProgramaAmbiente</div>
                                    </div>
                                }
                            }
                        </td>
                    }
                </tr>
                <tr>
                    <td class="border border-gray-500">
                        9 am - 11 pm
                    </td>
                    @foreach (var item in Model.days)
                    {
                        <td class="border border-gray-500">
                            @foreach (var item2 in Model.ScheduleModel)
                            {
                                @if (item2.Dia.Equals(item) && item2.Horario.Equals("9 am - 11 am"))
                                {
                                    <div class="@item2.Color px-4 py-2 mb-1">
                                        <div>Nombre: @item2.Docente</div>
                                        <div class="font-bold">Periodo: @item2.Periodo</div>
                                        <div>Ambiente: @item2.Ambiente</div>
                                        <div>Programa - Competencia: @item2.ProgramaAmbiente</div>
                                    </div>
                                }
                            }
                        </td>
                    }
                </tr>
                <tr>
                    <td class="border border-gray-500">
                        11 am - 1 pm
                    </td>
                    @foreach (var item in Model.days)
                    {
                        <td class="border border-gray-500">
                            @foreach (var item2 in Model.ScheduleModel)
                            {
                                @if (item2.Dia.Equals(item) && item2.Horario.Equals("11 am - 1 pm"))
                                {
                                    <div class="@item2.Color px-4 py-2 mb-1">
                                        <div>Nombre: @item2.Docente</div>
                                        <div class="font-bold">Periodo: @item2.Periodo</div>
                                        <div>Ambiente: @item2.Ambiente</div>
                                        <div>Programa - Competencia: @item2.ProgramaAmbiente</div>
                                    </div>
                                }
                            }
                        </td>
                    }
                </tr>
                <tr>
                    <td class="border border-gray-500">
                        2 pm - 4 pm
                    </td>
                    @foreach (var item in Model.days)
                    {
                        <td class="border border-gray-500">
                            @foreach (var item2 in Model.ScheduleModel)
                            {
                                @if (item2.Dia.Equals(item) && item2.Horario.Equals("2 pm - 4 pm"))
                                {
                                    <div class="@item2.Color px-4 py-2 mb-1">
                                        <div>Nombre: @item2.Docente</div>
                                        <div class="font-bold">Periodo: @item2.Periodo</div>
                                        <div>Ambiente: @item2.Ambiente</div>
                                        <div>Programa - Competencia: @item2.ProgramaAmbiente</div>
                                    </div>
                                }
                            }
                        </td>
                    }
                </tr>
                <tr>
                    <td class="border border-gray-500">
                        4 pm - 6 pm
                    </td>
                    @foreach (var item in Model.days)
                    {
                        <td class="border border-gray-500">
                            @foreach (var item2 in Model.ScheduleModel)
                            {
                                @if (item2.Dia.Equals(item) && item2.Horario.Equals("4 pm - 6 pm"))
                                {
                                    <div class="@item2.Color px-4 py-2 mb-1">
                                        <div>Nombre: @item2.Docente</div>
                                        <div class="font-bold">Periodo: @item2.Periodo</div>
                                        <div>Ambiente: @item2.Ambiente</div>
                                        <div>Programa - Competencia: @item2.ProgramaAmbiente</div>
                                    </div>
                                }
                            }
                        </td>
                    }
                </tr>
                <tr>
                    <td class="border border-gray-500">
                        6 pm - 8 pm
                    </td>
                    @foreach (var item in Model.days)
                    {
                        <td class="border border-gray-500">
                            @foreach (var item2 in Model.ScheduleModel)
                            {
                                @if (item2.Dia.Equals(item) && item2.Horario.Equals("6 pm - 8 pm"))
                                {
                                    <div class="@item2.Color px-4 py-2 mb-1">
                                        <div>Nombre: @item2.Docente</div>
                                        <div class="font-bold">Periodo: @item2.Periodo</div>
                                        <div>Ambiente: @item2.Ambiente</div>
                                        <div>Programa - Competencia: @item2.ProgramaAmbiente</div>
                                    </div>
                                }
                            }
                        </td>
                    }
                </tr>
                <tr>
                    <td class="border border-gray-500">
                        8 pm - 10 pm
                    </td>
                    @foreach (var item in Model.days)
                    {
                        <td class="border border-gray-500">
                            @foreach (var item2 in Model.ScheduleModel)
                            {
                                @if (item2.Dia.Equals(item) && item2.Horario.Equals("8 pm - 10 pm"))
                                {
                                    <div class="@item2.Color px-4 py-2 mb-1">
                                        <div>Nombre: @item2.Docente</div>
                                        <div class="font-bold">Periodo: @item2.Periodo</div>
                                        <div>Ambiente: @item2.Ambiente</div>
                                        <div>Programa - Competencia: @item2.ProgramaAmbiente</div>
                                    </div>
                                }
                            }
                        </td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
</body>